* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    background-color: #F55A5A;
    padding: 16px 0;

}

.navbar > p {
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
}